html {
  font: Georgia;
  background-color: #FBF9ED;
}

h1 {
  color: #F49C6A;
  font-size: 5em;
  text-align: center;
  padding: 20px;
  border: 1px solid #F49C6A;
}

h2 {
  font: Courier;
  text-transform: capitalize;
}

h3 {
  font-weight: 200;
  font: Helvetica;
}

a {
  color: #F4C7A8;
}

a > li {
  color: #B57493;
  font-size: 1.5em;
  text-decoration: none;
}

.navbar li {
  display: inline-block;
  width: 200px;
  text-decoration: none;
}

.Top-menu {
  text-align: center;
  margin-bottom: 30px;
}

.Top-menu a {
  background-color:  #F49C6A;
  color: white;
  border-radius: 3px;
  text-decoration: none;
  display: inline-block;
  margin: 10px;
  padding: 12px;
}

.Top-menu a:hover {
  background-color: white;
  color: #F49C6A;
}
